*{
    margin: 0%;
    padding: 0%;
    
}

body{
    background-color: rgb(249, 241, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: inherit;
}

header{
    width: 100%;
    height: 100vh;
    background: url(../img-cafeteria/header_inicio.jpg);
    background-size: cover;  
    position: relative;
}

header::before{
    background-color: #000;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
}

.seccion1{
    display: flex;
    align-items: center;
    padding-right: 10vh;
    position: relative;
   
}

.logo{
    width: 25%;
    height: 25vh;
    padding: 30px;
}

.encabezado{
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: end;
    gap: 15px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    
}

.menu1{
    color: chocolate;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

a:hover{
color: chocolate;
}

.div1{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.titulo1{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
}

.seccion2{

    width: 100%;
    height: 500px;
    background-color: aliceblue;
    position: relative;
} 

.cuadro-blanco{
    width: 80%;
    height: 340vh;
    background-color: white;
    position: relative;
    margin-top: -10rem;
    text-align: center;
    
}

.padre{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    line-height: 1.5;
}

.txt{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color:#c39c63;
}

.txt1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    color:#5e311e; 
}

.cafe{
    width: 15%;
    height: 100px;
}

.postre{
    width: 70%;
    height: 200px;
}

.parrafo{
    display: flex;
    justify-content: center;
}

.texto{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.2rem;
   width: 70%;
   height: 70px;
   line-height: 2;
   text-align: justify;
}

.tres-iconos{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    line-height: 2;
    
}

.iconos{
   margin-top: 10%;
}

.iconos-2{
    color: #5e311e;
    font-family: Bona Nova, serif;
    font-size: 3.2rem;
}

.galeria{
    width: 90%;
    height: 195vh;
}

.section-2{
    width: 100%;
    height: 160vh;
    background-color: #5e311e;
}

.imagen-de-arriba{
    display: flex;
    justify-content: center;
 }


.imagen-de-abajo{
    display: flex;
    justify-content: center;
}

.img-arriba{
    width: 70%;
}

.img-abajo{
    width: 70%;
}

.padre-2{
    display: flex;
    flex-direction: column;
    margin-top: -8%;
    line-height: 1.5;
    text-align: center;
    position: relative;
}

.nuestro{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color:#ffffff;
}  

.menu-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    color:#ffffff; 
}

.contenedor-lista{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}

.lista{
    width: 40%;
}

.t1{
    height: 10rem;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    text-align: center;   
}

ul{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;  
    line-height: 2; 
}

.contenesdor-2{
    width: 40%;
}

.lista-section-2{
    width: 40%;
    display: flex;
    justify-content: space-around;  
    flex-direction: column;
}

 .lista-2{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 4;
 }

.contenedor-precio{
   display: flex;
}

span{
    color: #c39c63;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;  
    display: flex;
    justify-content: space-between;
    
}

.precio{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: -5%;
}

.ultima-seccion{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 10vh;
    position: relative;
    margin-top: -10rem;
    background-color: #ffffff;
}


.ultimo-div-o-no{
    margin-top: 10%;
}

.ultimo-cuadro{
    width: 60%;
    height: 25rem;
    background-color:#ebe7de; 
    border-radius: 1rem;
    margin-top: 10%;
}

.ultimo-parrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 2;
    text-align:justify;
    padding: 3.1rem;
}

.autor{
    font-family: Bona Nova, serif;
    font-size: 2.4rem;
    color: #5e311e;
    text-align: right;
    padding-right: 3rem;
}


.testimonios{
    width: 100%;
    height: 23rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    line-height: 2;
    margin-top: 10%;
}


.tt1{
    font-size: 2rem;
    color: #c39c63;
}

.tt2{
    font-size: 1.4rem;
}

.pie-de-pagina{
    width: 100%;
    height: 15rem;
    background-color: #5e311e;
    margin-top:-10rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.derechos-de-pagina{
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
   font-size: 1.4rem;
   height: 3rem;
}

@media screen and (max-width:850px){
     
    .logo{
      width: 100%;
      height: 15rem;
    } 

    .encabezado{
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin-top: 8rem;
    }

    a{
        font-size: 1.2rem;
    }
    
    .menu1{
        font-size: 1.2rem;
    }

    .div1{
        text-align: center;
    }

    .titulo1{
        font-size: 2.5rem;
        line-height: 4rem;
    }

    .seccion1{
        width: 103%;
        height: 33rem;
        display: flex;
        flex-direction: column;
        
    }

    .cuadro-blanco{
        margin-top:0rem;
        width: 90%;
    }

    .txt{
        font-size: 1.2rem;
    }
    .txt1{
        font-size: 2.1rem;
    }
    .cafe{
        width: 22%;
    }

    .texto{
        font-size: 1rem;
    }

    .tres-iconos{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-top: 20rem;
        margin-left: 8rem;
        
    }
    .iconos{
        align-items: center;
    }

    .postre{
        align-items: center;
    }

    .iconos-2{
        font-size: 2rem;
        margin-top: -2rem;
    } 

    .galeria{
        height: 125rem;
    }

    .section-2{
        height: 160rem;
    }

    .imagen-de-arriba{
        width: 100%;
        
    }

    .nuestro{
        font-size: 1.2rem;
    }

    .menu-2{
        font-size: 2.1rem;
    }

    .contenedor-lista{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lista{
        width: 80%;
    }

    .lista-section-2{
        width: 80%;
    }

    p{
        font-size: 1.5rem;
    
    }

    span{
        font-size: 1.4rem;
        
    }

    .precio{
        font-size: 2.3rem;
    }

    .t1{
        font-size: 2rem;
    }

   .ultima-seccion{
     width: 103%;
     height: 80rem;
     position: relative;
     margin-left: 7rem;
   }

   .ultimo-cuadro{
    width: 90%;
    height: 20rem;
   }

   .ultimo-parrafo{
    font-size: 1rem;
    text-align: left; 
   }

   .autor{
    font-size: 1.7rem;
    margin-top: -2rem;
   }

   .testimonios{
    display: flex;
    flex-direction: column; 
    gap: 3rem;
   }

   .tt1{
    font-size: 1.6rem;
   }

   .tt2{
    font-size: 1.3rem;
   }

   .derechos-de-pagina{
    font-size: 1rem;
   }
    
}
